#root > div > table > thead > tr > th {
    cursor: pointer;
}
table {
    min-height: 474px;
    height: 474px;
    max-height: 474px;
}
tr {
    cursor: pointer;
}
#root > div > table > tfoot > tr > th > div > div {
    cursor: pointer;
}
#root > div > form > div.five.fields.attached > div {
    position: relative;
}
#root > div > div > div.ui.grid {
}
#root > div > div > div > div > div.four.wide.column > button {
    line-height: 1.15em;
    white-space: nowrap;
}
.form-error-message {
    position: absolute;
    bottom: -20px;
    left: 20px;
}